name: Build and Publish Container Image

on:
  push:
    tags: [v*.*.*]

jobs:
  build:
    name: Build + Push
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - name: Get version
      run: echo "IMAGE_TAG=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV


    - name: Build Docker Image
      run: docker build -t docker.pkg.github.com/${GITHUB_REPOSITORY}/mr-torrent:${IMAGE_TAG} .
    
    - name: Login
      run: docker login -u publisher -p ${DOCKER_TOKEN} docker.pkg.github.com
      env:
        DOCKER_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Push
      run: docker push docker.pkg.github.com/${GITHUB_REPOSITORY}/mr-torrent:${IMAGE_TAG}
